body{
  margin: 70px;
  background-color: indianred
}

h1{
  font: arial;
  border: 5px dashed white;
  color: midnightblue;
  text-shadow: 0 0 3px #ffffff;
  text-align: center;
}

h3{
  color: midnightblue;
}

.useful {
  text-decoration: underline;
}
